@charset "UTF-8";
/*
    header
*/
.header-wrapper {
  height: 80px;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

@media (max-width: 767px) {
  .header-wrapper {
    height: 60px;
  }
}

.header-title {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header-title {
    height: 60px;
  }
}

.header-title_left {
  display: flex;
}

@media (max-width: 767px) {
  .header-title_left {
    flex-direction: column;
    padding: 7px;
  }
}

.header-title_left img {
  width: 136px;
  padding: 15px 2px;
}

@media (max-width: 767px) {
  .header-title_left img {
    width: 95px;
    padding: 0;
  }
}

.header-title_left_heading {
  font-size: 1.4rem;
  padding: 33px 0 10px 5px;
  letter-spacing: 1.5px;
}

@media (max-width: 767px) {
  .header-title_left_heading {
    display: none;
  }
}

.header-title_left_heading_sp {
  font-size: 1.4rem;
  display: none;
}

@media (max-width: 767px) {
  .header-title_left_heading_sp {
    display: block;
  }
}

.header-contact_btn {
  background-color: #DA6B64;
  color: #ffffff;
  font-size: 1.4rem;
  text-decoration: none;
  border-radius: 30px;
  padding: 14px 40px;
  display: inline-block;
  margin: 15px 0 15px 0;
  padding: 12px 54px;
}

@media (max-width: 767px) {
  .header-contact_btn {
    display: none;
  }
}

.header-contact_btn:hover {
  opacity: 0.8;
}

.header-title_right_sp {
  color: #ffffff;
  width: 100%;
  height: 100%;
  background-color: #DA6B64;
  display: none;
  text-align: center;
  padding: 8px;
}

@media (max-width: 767px) {
  .header-title_right_sp {
    display: block;
  }
}

.header-title_right_sp p {
  padding: 3px;
}

/*
    header end
*/
